/* == VARIABLES CSS ==*/
:root {
    --header-right: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

/* = Colors =*/
:root {
    --first-color: #E55947;
    --first-color-alt: #d2321e;
    --white-color: #fafaff;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #f0f1f3;
}

/* = Font =*/
:root {
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
}